/* components */
.bgstretcher {
	background: black;
	overflow: hidden;
	width: 100%;
	position: fixed;
	z-index: 1;
	img {
		max-width: none;
	}
}
.bgstretcher-area {
 	text-align: left;
}
.bgstretcher,
.bgstretcher ul,
.bgstretcher li {
	left: 0;
	top: 0;
}
.bgstretcher ul,
.bgstretcher li {
 	position: absolute;
}
.bgstretcher ul,
.bgstretcher li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*  Compatibility with old browsers  */
.bgstretcher {
 	_position: absolute;
}
.bgs-description-pane {
	display: block;
	background: rgba(0, 0, 0, 0.7);
	position: relative;
	z-index: 10000;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
}

/* navigations */
.scl-links {
	.listUnstyled();
	ul {
		li {
			.li-plain();
			span {
				display: none;	
			}
		}
	}
	a {
		display: block;
		width: 32px;
		height: 31px;
		background-position: left top;
		background-size: contain;
		background-repeat: no-repeat;
		&:link {
			.setOpacity(1);	
		}
		&:hover {
			.setOpacity();	
		}
		
		&.scl-mail {
			background: url(images/icon-mail.png) no-repeat top left;
			background-image: url(images/icon-mail.svg), none;
		}
		&.scl-linkedin {
			background: url(images/icon-linkedin.png) no-repeat top left;
			background-image: url(images/icon-linkedin.svg), none;
		}
		&.scl-vimeo {
			background: url(images/icon-vimeo.png) no-repeat top left;
			background-image: url(images/icon-vimeo.svg), none;
		}
		&.scl-facebook {
			background: url(images/icon-facebook.png) no-repeat top left;
			background-image: url(images/icon-facebook.svg), none;
		}
		&.scl-linkedin2 {
			background: url(images/icon-linkedin2.png) no-repeat top left;
			background-image: url(images/icon-linkedin2.svg), none;
		}
		&.scl-twitter {
			background: url(images/icon-twitter.png) no-repeat top left;
			background-image: url(images/icon-twitter.svg), none;
		}
		&.scl-award {
			width: 17px;
			height: 35px;
			background: url(images/ribbon.png) no-repeat top left;
			background-image: url(images/ribbon.svg), none;
		}
	}
	&.t2 {
		a {
			margin-top: 8px;
			width: 27px;
			height: 27px;
		}
		ul {
			li {
				padding: 0 4px 10px !important;
			}
		}
	}
	
	
}
/* isotope filter */
.work-filter {
	overflow: hidden;
	height: 40px;
	.transitions(height);
	button {
		.transitions(opacity);
		display: block;
		width: 100%;
		height: 14px;
		margin: 0 auto;
		border: none;
		background: url(images/arrw-down-sml.png) no-repeat center center;
		background-image: url(images/arrw-down-sml.svg), none;
		padding: 20px 0;
		span {
			display: none;	
		}
		&:hover {
			.setOpacity();	
		}
	}
	background-color: @color-option;
	.avenirBold();
	font-size: 17px;
	line-height: 1.176em;
	text-align: center;
	
	.box-sizing();
	
	.linkSet(@filt-grey, @filt-grey, inherit, none, none);
	.holder {
		padding: 15px 0;	
	}
	a {
		display: block;
		outline: none;
		padding-bottom: 10px;
		&:active, &.active {
			color: @col-grn;	
		}
	}
	&.show {
		/*height: auto;	*/
		button {
			background: url(images/arrw-up-sml.png) no-repeat center center;
			background-image: url(images/arrw-up-sml.svg), none;
		}
	}
}

/* flipper */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;
	/*  UPDATED! flip the pane when hovered 
	&:hover {
		.back {
			transform: rotateY(0deg);
		}
		.front {
			transform: rotateY(180deg);
		}
	}
	*/
	/* size */
	width: inherit;
	height: inherit;
	.front, .back {
		width: inherit;
		height: inherit;
		/* hide back of pane during swap */
		backface-visibility: hidden;
		transition: 0.3s;
		transform-style: preserve-3d;
	
		position: absolute;
		top: 0;
		left: 0;
	}
	/*  UPDATED! front pane, placed above back */
	.front {
		z-index: 2;
		transform: rotateY(0deg);
	}
	/* back, initially hidden pane */
	.back {
		transform: rotateY(-180deg);
	}
	/* flip speed goes here */
	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;
	
		position: relative;
	}
}
/* flipper end*/

/*token*/
.token {
	display: block;
	width: 102px;
	height: 102px;
	background-repeat: no-repeat;
	background-position: center center;
	&.strategy {
		background-image: url(images/token-strategy.png);
	}
	&.strategy-grn {
		background-image: url(images/token-strategy-grn.png);
	}
	&.creative {
		background-image: url(images/token-creative.png);
	}
	&.creative-grn {
		background-image: url(images/token-creative-grn.png);
	}
	&.bed {
		background-image: url(images/token-bed.png);
	}
	&.bed-grn {
		background-image: url(images/token-bed-grn.png);
	}
	&.tools {
		background-image: url(images/token-tools.png);
	}
	&.tools-grn {
		background-image: url(images/token-tools-grn.png);
	}
	&.enquires {
		background-image: url(images/token-enquires.png);
	}
	&.enquires-grn {
		background-image: url(images/token-enquires-grn.png);
	}
	&.grad {
		background-image: url(images/token-grad.png);
	}
	&.grad-grn {
		background-image: url(images/token-grad-grn.png);
	}
	&.in {
		background-image: url(images/token-IN.png);
	}
	&.in-grn {
		background-image: url(images/token-IN-grn.png);
	}
	
}
.video-holder {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 30;
	~ .grn-bar {
		z-index: 50;
	}
	&.fixed {
		position: fixed;
		z-index: -1;	
	}
}
.setComponents(@w) when (@w = @breakpoint1) {
	.work-filter {
		height: 74px !important;;
		padding: 27px 0;
		.holder {
			padding: 0;	
		}
		a {
			.inline-block();
			padding: 0;
			margin: 0 20px;
		}
	}
}	
.setComponents(@w) when (@w = @breakpoint2) {
	
}	