/* forms */
.lt-ie9 {
	.form-item {
		label {
			display: block;	
		}
	}
}
.form-item {
	padding-bottom: 3px;
	label {
		display: none;	
	}
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
	.avenirMed();
	height: 35px;
	.box-sizing();
	width: 100%;
	border: none;
	background: @col-grey;
	padding: 0 8px;
	color: #fff;
}
textarea {
	padding: 10px 8px;
	height: 116px;
	resize: none;
}
input[type="submit"] {
	border: none;
	background: none;
	margin-top: 10px;
	color: @col-grey;
	font-size: 21px;
	line-height: 1.190em;
	.avenirBold();
	&:hover {
		color: @col-grn;	
	}
}
::-webkit-input-placeholder { color:@bg-owhite; }
::-moz-placeholder { color:@bg-owhite; } /* firefox 19+ */
:-ms-input-placeholder { color:@bg-owhite; } /* ie */
input:-moz-placeholder { color:@bg-owhite; }

.customSelect {
	/* Styles For Your Select Box */
    .avenirMed();
	height: 35px;
	line-height: 35px;
	.box-sizing();
	width: 100%;
	border: none;
	background: @col-grey url(images/listArrow.png) right center no-repeat;
	padding: 0 8px;
	color: @bg-owhite;
	&.changed {
		/* You can use this if you want a different style after user has made a selection */
		color: #fff;
	}
	.customSelectFocus {
	/* You can use this if you want a different style after user has made a selection */
	}
	
	.customSelectOpen {
		/* You can use this if you want a different style after user has made a selection */
	}
}
/* We can style the inner box, too */
.customSelectInner {
	
}

.setForms(@w) when (@w = @breakpoint1) {
	.form-item {
		max-width: 305px;
	}
}	
.setForms(@w) when (@w = @breakpoint2) {
}	