/* layout start */
#skrollr-body {
	height: 100%;
    overflow: visible;
    position: relative;
}
.skrollable-before, .skrollable-after {
	visibility: hidden !important;
}
.skrollable-between {
	visibility: visible !important;
}
.skrollr-desktop body {
	height: 100% !important;
}
.parallax-image-wrapper {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	.bg {
		width: 100%;
		height: 100%;	
	}
}
.parallax-image-wrapper-50 {
	height: 50%;
	top: -50%;
}
.parallax-image-wrapper-70 {
	height: 70%;
	top: -70%;
}
.parallax-image-wrapper-100 {
	height: 100%;
	top: -100%;
}
.parallax-image {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.parallax-image-50 {
	height: 200%;
	top: -50%;
}
.parallax-image-70 {
	height: 200%;
	top: -70%;
}
.parallax-image-100 {
	height: 100%;
	top: 0;
}
.parallax-image.skrollable-between {
	display: block;
}

.h100 {
	height: 100%;	
}
.h200 {
	height: 200%;	
}
.h35 {
	height: 35%;	
}
.h50 {
	height: 50%;	
}
.h60 {
	height: 60%;	
}
.h70 {
	height: 70%;	
}
.h80 {
	height: 80%;	
}
.h90 {
	height: 90%;	
}
.minH50 {
	min-height: 50%;	
}
.pos-rel {
	.positions();
}
.pos-fixed {
	position: fixed !important;
	top: 0;
	left: 0;	
	width: 100%;
	
	&.top {
		z-index: 10;
	}
	&.btm {
		z-index: 5;
	}
}
section {
	position: relative;
	&.content {
		padding: 45px 0 30px;
		background-color: @bg-owhite;	
		position: relative;
		.btm-flush {
			margin-bottom: -30px;
		}
		.container {
			top: 0;	
		}
		&.no-pad {
			padding: 0;	
		}
	}
}
.skrl-block {
	width: 100%;
	overflow: hidden;
	.bg {
		width: 100%;
		height: 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		&.top-center {
			background-position: center top;
		}
		&.bottom-center {
			background-position: center bottom;
		}
		&.center-center {
			background-position: center center;
		}
	}
}

.custom {
	&.logo {
		position: absolute;
		top: 50%;
		margin-top: -152px;
		right: 30px;
	}
	&.phone {
		position: absolute;
		top: 50%;
		margin-top: -185px;
		left: 0;
		+ .phone {
			left: 170px;
		}
		+ .phone + .phone {
			left: 340px;
		}
	}
}
.setLayout(@w) when (@w = @breakpoint1) {
	section {
		.cont-gap {
			margin-top: 40px;	
		}
	}
}	
.setLayout(@w) when (@w = @breakpoint2) {
	section {
		.cont-gap {
			margin-top: 80px;	
		}
	}
}	