/*sections*/
@pillar-pad: 3px;
/* project */
.home-banners.project {
	height: 90%;
}
@sH : 90px;
@gH : 8px;
.grn-bar {
	background-color: @col-grn;
	height: @gH;
	width: 100%;
	&.abs-btm {
		position: absolute;
		bottom: 0;
		left: 0;	
	}
}
.title-bar {
	position: absolute;
	left: 0;
	bottom: @sH;
	width: 100%;
	z-index: 300;
	.bg-black {
		background-color: #000;
		opacity: 0.5;
		.setOpacity(0.5);
		position: absolute;
		z-index: 20;
		width: 100%;
		height: 100%;
	}
	.title {
		.box-sizing();
		position: relative;
		z-index:30;
		color: @color-white;
		font-size: 25px;
		line-height: 1.200em;
		padding: 20px 30px 10px;
		text-shadow: -3px 4px 1px rgba(0, 0, 0, 0.14);	
		.linkSet(@color-white, @color-white-hvr, inherit, none, none);	
	}
}
.proj-details {
	@pjh: (@sH - @gH) ;
	height: @sH;
	background-color: @stat-bg;
	&.option {
		background-color: @color-option;
		.proj-other {
			.item:first-child {
				border-left: 3px solid @bg-owhite;
			}
		}
	}
	.proj-stats {
		background-color: @color-option;
		color: @bg-owhite;
		height: @pjh;
		text-align: center;
		.item {
			.inline-block();
			.avenirBold();
			text-align: center;
			.box-sizing();
			height:	@pjh;
			
			.num {
				line-height: 1;
				font-size: 25px;
				margin-top: 20px;
				padding: 0 28px;
				position: relative;
				border-left: 1px solid #29282d;
				.val {
					visibility: hidden;	
				}
				.unit {
					font-size: 40%;
					line-height: 0;
					position: relative;
					top: -0.5em;
					vertical-align: baseline;
				}
			}
			.label {
				font-size: 10px;
				padding: 0 10px;
				line-height: 1em;
				text-transform: uppercase;
				color: lighten(#000, 50%);	
			}
			&:first-child {
				.num {
					border-left: none;
				}
			}
		}
	}
	.proj-other {
		height: @pjh;
		text-align: center;
		
		.item {
			background-color: @stat-bg;
			.box-sizing();
			height:	@pjh;
			padding: 0 30px;
			.inline-block();
			.listUnstyled();
			border-left: 3px solid @bg-owhite;
			ul {
				li {
					.li-plain();
					.inline-block();	
				}
			}
			.scl-links {
				padding-top: 10px;
			}
			.label {
				padding: 0 10px;
				text-transform: uppercase;
				.avenirBold();
				font-size: 16px;
				color: @color-option;
				letter-spacing: -0.01em;
			}
			&:first-child {
				border-left: none;
			}
		}
	}
	.proj-option {
		height: @pjh;
		color: @col-ltgrey;
		.table-display {
			height: inherit;
			width: 100%;
			.table-cell {
				.box-sizing();
				padding: 0 20px;
			}
		}
		p {
			padding: 0;	
		}
	}
	&.mobile {
		height: @pjh;
	}
}

/* about */
.pillar-grid {
	.item {
		padding: 0 0 20px 0;
		overflow: visible;
		.box-sizing();
		.holder {
			position: relative;
			.transitions(all);
			background-color: #525258;
			width: 100%;
			.info {
				padding: 40px 20px 160px;
				.box-sizing();
				width: 100%;
				position: relative;
				height: 100%;
			}
			.title {
				.transitions(color);
				text-align: center;
				color: #fff;
				font-size: 30px;
				line-height: 1.200em;
			}
			/* hover */
			&:hover {
				background-color: white;
				.title {
					color: black;
				}
				.flip-container {
					.back {
						transform: rotateY(0deg);
					}
					.front {
						transform: rotateY(180deg);
					}
				}
			}
		}
		.icon-set {
			display: block;
			width: 102px;
			height: 102px;
			margin-left: -51px;
			position: absolute;
			bottom: 35px;
			left: 50%;
		}
	}
}
#people {
	overflow: hidden;
	h2 {
		color: #fff;
		padding-top: 62px;	
	}
	.bgstretcher-area, .bgstretcher-page {
		height: inherit;	
	}
	.owl-carousel {
		overflow: visible;
		position: absolute;
		left: 0;
		bottom: 0;
		.owl-stage-outer {
			overflow: visible;
		}
		.item {
			overflow: visible;
			height: 390px;
			width: 100%;
			.holder {
				.box-sizing();
				/*padding: 0 30px;*/
				overflow: visible;
				img {
					.transitions();
					.setOpacity(0.7);
					&:hover {
						.setOpacity(1);	
					}
				}
				.info {
					display: none;
					.btn-close {
						
					}
					h4 {
						
					}
					h3 {
						
					}
				}
			}
		}
		.owl-nav {
			.owl-prev, .owl-next {
				position: absolute;
				top: 50%;
				display: block;
				height: 69px;
				width: 41px;
				background-size: contain;
				cursor: pointer;
				.transitions(opacity);
				.setOpacity(0.2);
				margin-top: -35px;
				span {
					display: none;	
				}
				&:hover {
					.setOpacity(1);
				}
			}
			.owl-prev {
				left: 15px;
				background: url(images/arrw-prev.png) no-repeat top left;
				background-image: url(images/arrw-prev.svg), none;
			}
			.owl-next {
				right: 15px;
				background: url(images/arrw-next.png) no-repeat top left;
				background-image: url(images/arrw-next.svg), none;
			}
		}
	}
}
#clients .iso-wrap {
	.item {
		.box-sizing();
		border: 2px solid @bg-owhite;
		.cbox, .bg-black {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.cbox {
			position: relative;
			.bg-black {
				z-index: 20;
				background-color: #000;
				.setOpacity();
				.transitions(opacity);
			}
			.table-display {
				z-index: 30;
				position: relative;
				width: 100%;
				height: 100%;
				.table-cell {
					.box-sizing();
					text-align: center;
					padding: 0 15px;
					width: 100%;
				height: 100%;	
				}
			}
		}
		a:hover + .cbox .bg-black {
			.setOpacity(0);
		}
	}
}

/* Contact */
.add-blocks {
	.item {
		.inline-block();
		width: 48%;
		.box-sizing();
		padding-right: 20px;
		padding-bottom: 20px;
		font-size: 15px;
		line-height: 1.133em;
	}
}
.setSections(@w) when (@w = @breakpoint1) {
	@sH : 90px;
	@gH : 8px;
	.grn-bar {
		height: @gH;
	}
	.title-bar {
		bottom: @sH;
		.title {
			font-size: 40px;
		}
	}
	.proj-details {
		@pjh: (@sH - @gH) ;
		height: @sH;
		
		.proj-stats {
			float: left;
			height: @pjh;
			border-right: 3px solid @bg-owhite;
			.item {
				display: block;
				float: left !important;
				height:	@pjh;
				.num {
					font-size: 40px;
					padding: 0 30px;
					margin-top: 18px;
					.unit {
						font-size: 40%;
						top: -0.5em;
					}
				}
				.label {
					font-size: 10px;
					margin-top: -8px;
				}
			}
		}
		.proj-other {
			float: right;
			height: @pjh;
			.item {
				height:	@pjh;
				padding: 0 20px;
				.label {
					font-size: 16px;
				}
				.scl-links {
					ul li {
						padding-bottom: 5px !important;	
					}
				}
			}
		}
		.proj-option {
			float: left;
			height: @pjh;
			width: 70%;
			.table-display {
				.table-cell {
					padding: 0 20px;	
				}
			}
		}
	}
	.pillar-grid {
		@item-w: 184px;
		.item {
			padding-right: @pillar-pad;
			float: left;
			width: @item-w;
			.holder {
				width: (@item-w - @pillar-pad);
				height: 315px;	
				.info {
					padding: 40px 20px;
					width: (@item-w - @pillar-pad);
				}
				.title {
					font-size: 24px;	
				}
			}
		}
	}
	#people {
		height: 590px;
		.owl-carousel {
			.item {
			}
		}
	}
}	
.setSections(@w) when (@w = @breakpoint2) {
	@sH : 100px;
	@gH : 10px;
	.title-bar {
		bottom: @sH;
		.title {
			font-size: 48px;
		}
	}
	.grn-bar {
		height: @gH;
	}
	.proj-details {
		@pjh: (@sH - @gH) ;
		height: @sH;
		
		.proj-stats {
			height: @pjh;
			.item {
				height:	@pjh;
				.num {
					font-size: 45px;
					padding: 0 30px;
					margin-top: 20px;
					.unit {
						font-size: 40%;
						top: -0.5em;
					}
				}
				.label {
					font-size: 10px;
					margin-top: -8px;
				}
			}
		}
		.proj-other {
			height: @pjh;
			.item {
				height:	@pjh;
				padding: 0 30px;
				.label {
					font-size: 16px;
				}
				.scl-links {
					ul li {
						padding-bottom: 10px !important;	
					}
				}
			}
		}
		.proj-option {
			height: @pjh;
			width: 80%;
			.table-display {
				.table-cell {
					padding: 0 30px;	
				}
			}
		}
	}
	.pillar-grid {
		@item-w: 232px;
		.item {
			width: @item-w;
			.holder {
				width: (@item-w - @pillar-pad);
				height: 315px;	
				.info {
					width: (@item-w - @pillar-pad);
				}
				.title {
					font-size: 30px;	
				}
			}
		}
	}
}	
.setSections(@w) when (@w = @breakpoint3) {
	@sH : 118px;
	@gH : 12px;
	.title-bar {
		bottom: @sH;
	}
	.grn-bar {
		height: @gH;
	}
	.proj-details {
		@pjh: (@sH - @gH);
		height: @sH;
		.proj-stats {
			height: @pjh;
			.item {
				height:	@pjh;
				.num {
					font-size: 60px;
					padding: 0 30px;
					margin-top: 20px;
					.unit {
						font-size: 40%;
						top: -0.5em;
					}
				}
				.label {
					font-size: 10px;
					margin-top: -8px;
				}
			}
		}
		.proj-other {
			height: @pjh;
			.item {
				height:	@pjh;
				.scl-links {
					padding-top: 20px;
				}
			}
		}
		.proj-option {
			height: @pjh;
		}
	}
	.pillar-grid {
		@item-w: 270px;
		.item {
			width: @item-w;
			.holder {
				width: (@item-w - @pillar-pad);
				height: 315px;	
				.info {
					width: (@item-w - @pillar-pad);
				}
			}
		}
	}
}	